$primary-grape: #94618e;
$secondary-eggplant: #49274A;
$sand: #F4DECB;
$shell: #F8EEE7;

body {
  background-color: $primary-grape;
  color: $shell;
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  display: flex;
  justify-content: center;
}

form {
  max-width: 100em;
}

.fade {
  opacity: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 200px 100px; 
}

.submit {
  margin-bottom: 300px;
}

div.intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.start-button {
  text-decoration: none;
  border: 0.1em $secondary-eggplant solid;
  border-radius: 0.3em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: $shell;
  color: $primary-grape;
  width: 4.3em;
  height: auto;
  align-content: center;
}

input {
  border-radius: 0.3em;
  border: none;
  margin: 0.1em;
  font-family: 'Rubik', serif;
  padding: 0.3em;
}

div#start label {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0.2em;
}

.checkbox {
  display: flex;
  margin-top: 0.5em;
}

.checkbox input {
  margin-right: 0.3em;
}