$primary-grape: #94618e;
$secondary-eggplant: #49274A;
$sand: #F4DECB;
$shell: #F8EEE7;

body {
  background-color: $primary-grape;
  color: $shell;
  font-size: 1.3em;
  font-family: 'Aleo', serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}


a {
  text-decoration: none;
  border: 0.1em $secondary-eggplant solid;
  border-radius: 0.3em;
  padding: 0.5em 1em 0.5em 1em;
  background-color: $shell;
  color: $primary-grape;
  text-align: center;
  margin-bottom: 1em;
}
